/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Default Page Styling */
body {
  background-color: #222222;
  .hfeed {
    padding: 2rem 1.4rem;
    @include desktop {
      text-align: center;
    }
    .side-header {
      .site-branding {
        a {
          max-width: 100%;
          img {
            height: auto;
            width: 300px;
            @include desktop {
              width: 50rem;
            }
          }
        }
      }
    }
    .site-content {
      @include desktop {
        margin: 4rem 5rem;
      }
      .content-area {
        @include desktop {
          display: flex;
          justify-content: center;
          &::before {
            font-family: 'FontAwesome';
            font-weight: 400;
            font-size: 8.4rem;
            content: '\f10d';
            position: absolute;
            left: 80px;
          }
          &::after {
            font-family: 'FontAwesome';
            font-weight: 400;
            font-size: 8.4rem;
            content: '\f10e';
            position: absolute;
            right: 80px;
          }
        }
        .site-main {
          @include desktop {
            width: 30rem;
            text-align: center;
          }
          .type-post {
            @include desktop {
              text-align: left;
            }
            p,
            h2 {
              color: $color__background-body;
              font-family: $font__main;
              font-weight: lighter;
            }
            .entry-content {
              p {
                @include desktop {
                  font-size: 2.3rem;
                }
              }
            }
            .entry-meta {
              display: flex;
              h2 {
                margin: 0;
                padding: 0;
                white-space: nowrap;
              }
              .source {
                margin: 0;
                padding: 0;
                color: $color__background-body;
                a {
                  color: $color__text-main;
                  font-family: $font__main;
                  font-style: italic;
                  font-size: 1.25rem;
                  font-weight: lighter;
                  text-decoration: none;
                }
              }
            }
          }
          button {
            background: transparent;
            box-shadow: none;
            border: 1px solid #00cc00;
            color: $color__text-main;
            font-size: 1rem;
            font-family: $font__main;
            font-weight: lighter;
            text-shadow: none;
            padding: 0.8rem 1rem;
          }
        }
      }
    }
    .site-footer {
      .site-info {
        .main-navigation {
          margin-top: 4rem;
          margin-bottom: 4rem;
        }
      }
    }
  }
}

/* Front Page */
.home {
  .site-main {
    .entry-content {
      p {
        font-size: 1.25rem;
        @include tablet {
          font-size: 1.7rem;
        }
      }
    }
    .entry-meta {
      .entry-title {
        font-size: 1.2rem;
      }
      .source {
        a {
          line-height: 2rem;
          font-size: 1.2rem;
        }
      }
    }
    button {
      &:hover {
        border: 1px solid $color__link-hover;
        color: $color__link-hover;
      }
    }
  }
}

/* All Pages */
.page {
  .site-content {
    .entry-content {
      p {
        color: $color__background-body;
        font-weight: lighter;
      }
    }
  }
}

/* About Page */
.page-page-about {
  .entry-title {
    color: $color__background-body;
  }
  .entry-content {
    p:nth-child(2n) {
      a {
        text-decoration: none;
      }
    }
  }
}

/* Submit Quote Page */
.page-submit {
  .quote-submission-wrapper {
    div {
      margin: 1.3rem 0;
      label {
        color: $color__background-body;
        font-weight: lighter;
      }
      input,
      textarea {
        background: transparent;
        border-color: $color__text-main;
      }
      input[type='text'] {
        color: $color__background-body;
        font-weight: lighter;
        font-family: $font__main;
      }
      textarea[name='quote_content'] {
        color: $color__background-body;
        font-weight: lighter;
        font-family: $font__main;
      }
      input[type='url'] {
        color: $color__background-body;
        font-weight: lighter;
        font-family: $font__main;
      }
    }
    input[type='submit'] {
      background: transparent;
      box-shadow: none;
      color: $color__background-body;
      font-family: $font__main;
      font-weight: lighter;
    }
  }
}

/* All Archives Page */
.page-archives {
  .site-content {
    .post-archives,
    .category-archives,
    .category-archives {
      margin: 2rem 0;
    }
    .entry-title,
    h2 {
      color: $color__background-body;
    }
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      li {
        list-style: none;
        padding-right: 1.4rem;
        line-height: 2rem;
        a {
          text-decoration: none;
          font-size: 1rem;
          &::hover {
            color: $color__link-hover;
          }
        }
      }
    }
  }
}

/* Submit a Quote Page */
